/* css styles */
.cover {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  height: 300px;
}

.tree {
  height: 327px;
}

@media (max-width: 600px) {
  .profile-pic {
    height: 100px;
    margin-top: 0%;
  }
  .badges {
    margin-top: 0%;
  }
}

@media (min-width: 600px) {
  .profile-header .quarto-layout-row {
    flex-direction: row;
  }
  .formkit-form .formkit-fields {
    flex-direction: row !important;
  }
  .badges {
    margin-top: -12%;
  }
  .profile-pic {
  margin-top: 25%;
}
}


